body{
    /* background-color: #FFF1DB; */
     background-color: rgb(117, 0, 33);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    text-align: center;
    color: aliceblue;

}
/* for reset button */
.btn{
    background-color: rgb(164, 160, 160);
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    border: 3px solid rgb(14, 10, 10);
    align-content: center;
    border-radius: 10px;
    align-self: flex-start;
    cursor: pointer;

}
.btn:hover{
    background-color: #95908d;
    transform: scale(1.05);
}


.main{
    padding: 75px 75px;
    padding-bottom: 20px;
    display: flexbox;
    flex-wrap: wrap;
}
.one{
    display: flex;
    
}
.space{
    /* background-color:#ca8e65; */
    background-color:#c5c5c5;
    border: 2px solid rgba(0, 0, 0, 0.971);
    min-width: 125px;
    height: 125px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(24, 5, 5);
}
/* .hidden{
    display: none;
} */


.turn{
    display: none;
    font-size: 40px;
}
.player--active{
    display: block;
    
}
